
* {
    margin: 0;
    padding: 0;
}
.start{
    font-size: 25px;
    display: inline-flex;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration-line: none;
    color: black;
}
ul li{
    justify-content: center;
    align-items: center;
    list-style: none;
}
a {
    text-decoration: none;
    color:black;
}
.menu {
    border: 1px solid black;
    display: inline-flex;
    font:bold 25px;
    font-size: 20px;
    width:808px;
    height:50px;
    background: #ccc;
    color:black;
    margin:0 auto;
    text-align: center;
    float: right;
    line-height: 50px; 
}

.menu > ul > li {
    float:left;
    width:200px;
    position:relative;
}
.menu > ul > li > ul {
    border: 1px solid black;
    width:200px;
    display:none;
    position: absolute;
    font-size:20px;
    background: skyblue;
}
.menu > ul > li:hover > ul {
    display:block;
    
}
.menu > ul > li > ul > li:hover {
    background: white;
}
.page{
    border: 1px solid black;
    width: 100%;
    padding-left: 20px;
}
h3{
    font-size: 30px;
}
p{
    margin-left: 20px;
}
details > a{
    padding-left: 40px;
}
summary{
    font-size: 20px;
}